:root {
    --light-grey: #E5E5E5;
}
#salesChart {
    width: 100% !important;
    height: 100% !important;
}
.zypher-search-bar-input,
.zypher-search-bar-input:focus {
    border: none;
    box-shadow: none;
}
.zypher-overflow-container {
    white-space: nowrap;
    overflow-x: auto;
}
.zypher-modal-bottom {
    width: 100%;
    bottom: 0;
    left: 0;
}
.zypher-tooltip-select-items-box .item {
    transition: .24s;
}
.zypher-tooltip-select-items-box .item:hover {
    background-color: var(--light-grey);
}

/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    .zypher-search-bar-holder {
        position: relative;
    }
    .zypher-search-bar-holder::before {
        width: .8px;
        background-color: rgba(0, 0, 0, .4);
        content: '';
        height: 20px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}